<%- include('./header.ejs'); %>
<%- include('nav') %>
<body>
    <main>
        <div class="container2">
            <div id="heading">
               <h1>Document  Your</h1> 
               <h1> Financial  Journey</h1> 
            </div>
            <div class="content">
                <p>In a world where every penny matters, our tool helps you document your financial</p>
                <p> journey with ease. Keep track of every expense effortlessly and gain peace of mind knowing your finances are organized and accessible.</p>
            </div>
        </div>
    </main>
    <%- include('footer') %>
</body>
</html>
